certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
panda
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
sklearn
threadpoolctl
tqdm
urllib3
Werkzeug
